In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
### Loading the Dataset
data = pd.read_csv("House_Rent_Dataset.csv")

In [2]:
data['Tenant Preferred'].value_counts()

Bachelors/Family    3444
Bachelors            830
Family               472
Name: Tenant Preferred, dtype: int64

In [3]:
data['Size'].value_counts()

1000    240
600     225
800     220
1200    193
500     192
       ...
2770      1
1252      1
904       1
721       1
855       1
Name: Size, Length: 615, dtype: int64

In [4]:
data['Area Type'].value_counts()

Super Area     2446
Carpet Area    2298
Built Area        2
Name: Area Type, dtype: int64

In [5]:
data['Furnishing Status'].value_counts()

Semi-Furnished    2251
Unfurnished       1815
Furnished          680
Name: Furnishing Status, dtype: int64

In [6]:
data['City'].value_counts()

Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: City, dtype: int64

In [7]:
data.head(10)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner
5,2022-04-29,2,7000,600,Ground out of 1,Super Area,Thakurpukur,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner
6,2022-06-21,2,10000,700,Ground out of 4,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,2,Contact Agent
7,2022-06-21,1,5000,250,1 out of 2,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,1,Contact Agent
8,2022-06-07,2,26000,800,1 out of 2,Carpet Area,"Palm Avenue Kolkata, Ballygunge",Kolkata,Unfurnished,Bachelors,2,Contact Agent
9,2022-06-20,2,10000,1000,1 out of 3,Carpet Area,Natunhat,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Owner

In [8]:
area = data['Size']

In [10]:
area

0       1100
1        800
2       1000
3        800
4        850
        ...
4741    1000
4742    2000
4743    1750
4744    1500
4745    1000
Name: Size, Length: 4746, dtype: int64

In [11]:
area.iloc(0)

In [12]:
area.iloc[0]

1100

In [13]:
rent = data['Rent']

In [14]:
area.size

4746

In [15]:
area.size == rent.size

True

In [17]:
rent_per_sq_ft = []
x = 0
while x < rent.size:
    rent_per_sq_ft.append(rent.iloc[x]/area.iloc[x])
    x+=1

In [18]:
rent_per_sq_ft

[9.090909090909092,
 25.0,
 17.0,
 12.5,
 8.823529411764707,
 11.666666666666666,
 14.285714285714286,
 20.0,
 32.5,
 10.0,
 20.833333333333332,
 12.5,
 26.0,
 14.666666666666666,
 9.444444444444445,
 31.104199066874028,
 10.0,
 12.5,
 5.5,
 9.090909090909092,
 12.153846153846153,
 22.5,
 13.333333333333334,
 4.0625,
 20.0,
 7.0,
 14.929577464788732,
 6.0,
 10.625,
 14.705882352941176,
 21.428571428571427,
 16.666666666666668,
 10.909090909090908,
 10.0,
 20.0,
 17.647058823529413,
 15.625,
 11.11111111111111,
 23.333333333333332,
 37.03703703703704,
 11.428571428571429,
 8.0,
 8.333333333333334,
 12.142857142857142,
 20.0,
 7.6923076923076925,
 11.5,
 18.46153846153846,
 15.0,
 14.044943820224718,
 50.0,
 16.666666666666668,
 6.25,
 15.0,
 12.222222222222221,
 11.666666666666666,
 5.0,
 5.0,
 10.76923076923077,
 11.805555555555555,
 16.666666666666668,
 25.0,
 14.285714285714286,
 15.0,
 14.0,
 7.2727272727272725,
 16.666666666666668,
 12.5,
 8.125,
 11.029411764705882,
 11.029411764705882,
 18.823529411764707,
 18.823529411764707,
 9.285714285714286,
 26.666666666666668,
 13.157894736842104,
 11.0,
 11.11111111111111,
 9.285714285714286,
 16.0,
 8.055555555555555,
 16.4,
 31.25,
 20.0,
 8.375,
 22.988505747126435,
 10.0,
 27.5,
 14.444444444444445,
 15.454545454545455,
 22.5,
 21.818181818181817,
 15.0,
 12.0,
 20.0,
 16.666666666666668,
 10.0,
 20.0,
 15.0,
 16.666666666666668,
 16.923076923076923,
 21.875,
 14.482758620689655,
 22.727272727272727,
 189.47368421052633,
 10.0,
 20.0,
 10.666666666666666,
 8.0,
 27.272727272727273,
 26.666666666666668,
 20.0,
 28.571428571428573,
 15.0,
 9.375,
 14.0,
 250.0,
 17.5,
 19.5,
 16.666666666666668,
 21.0,
 23.636363636363637,
 22.666666666666668,
 10.0,
 13.513513513513514,
 13.846153846153847,
 12.307692307692308,
 16.3265306122449,
 18.8,
 18.8,
 10.0,
 20.0,
 21.333333333333332,
 18.8,
 18.641810918774965,
 10.0,
 12.5,
 17.5,
 8.5,
 10.0,
 16.666666666666668,
 10.833333333333334,
 11.428571428571429,
 11.428571428571429,
 8.0,
 5.833333333333333,
 4.0,
 10.0,
 19.642857142857142,
 18.181818181818183,
 7.368421052631579,
 14.0,
 5.0,
 20.0,
 10.76923076923077,
 14.285714285714286,
 10.0,
 12.0,
 16.11111111111111,
 8.571428571428571,
 13.571428571428571,
 22.22222222222222,
 29.166666666666668,
 11.25,
 32.78688524590164,
 15.0,
 11.428571428571429,
 15.0,
 9.701492537313433,
 30.76923076923077,
 26.31578947368421,
 12.857142857142858,
 29.166666666666668,
 21.176470588235293,
 9.473684210526315,
 12.222222222222221,
 9.375,
 6.666666666666667,
 13.125,
 13.636363636363637,
 18.75,
 22.727272727272727,
 12.631578947368421,
 20.0,
 6.666666666666667,
 8.0,
 30.0,
 10.666666666666666,
 10.218978102189782,
 147.72727272727272,
 10.833333333333334,
 18.0,
 9.00900900900901,
 12.0,
 12.755102040816327,
 8.571428571428571,
 6.933333333333334,
 10.0,
 10.0,
 33.80281690140845,
 13.75,
 14.285714285714286,
 15.0,
 18.8,
 10.0,
 11.11111111111111,
 10.714285714285714,
 10.0,
 8.571428571428571,
 15.0,
 17.77777777777778,
 26.0,
 18.75,
 12.0,
 14.666666666666666,
 13.333333333333334,
 20.0,
 14.0,
 18.75,
 13.636363636363637,
 11.818181818181818,
 15.0,
 8.0,
 25.0,
 18.38235294117647,
 11.805555555555555,
 7.0,
 8.75,
 18.75,
 11.666666666666666,
 25.714285714285715,
 3.5,
 12.8,
 21.875,
 30.0,
 10.0,
 17.878426698450536,
 19.565217391304348,
 3.0555555555555554,
 10.625,
 10.0,
 13.709677419354838,
 13.846153846153847,
 13.636363636363637,
 15.555555555555555,
 11.11111111111111,
 11.666666666666666,
 8.333333333333334,
 10.0,
 4.0,
 10.0,
 13.333333333333334,
 8.0,
 8.0,
 12.0,
 13.333333333333334,
 8.153846153846153,
 11.11111111111111,
 10.625,
 22.0,
 7.0,
 17.857142857142858,
 11.666666666666666,
 20.74688796680498,
 18.75,
 8.88888888888889,
 28.571428571428573,
 2.7777777777777777,
 23.076923076923077,
 8.125,
 10.0,
 11.0,
 5.294117647058823,
 46.15384615384615,
 29.702970297029704,
 7.5,
 24.0,
 7.142857142857143,
 16.666666666666668,
 10.0,
 6.0,
 15.555555555555555,
 18.571428571428573,
 36.458333333333336,
 11.11111111111111,
 7.5,
 22.727272727272727,
 15.0,
 7.5,
 8.75,
 17.5,
 8.403361344537815,
 15.555555555555555,
 10.0,
 10.833333333333334,
 12.5,
 13.125,
 11.11111111111111,
 14.285714285714286,
 11.25,
 12.5,
 34.58498023715415,
 12.5,
 28.571428571428573,
 12.0,
 10.0,
 6.0,
 16.666666666666668,
 20.0,
 13.68421052631579,
 20.0,
 20.0,
 16.363636363636363,
 33.333333333333336,
 12.0,
 10.0,
 9.852216748768473,
 14.545454545454545,
 10.0,
 43.75,
 8.333333333333334,
 11.904761904761905,
 10.909090909090908,
 14.545454545454545,
 12.142857142857142,
 13.333333333333334,
 17.5,
 26.666666666666668,
 10.76923076923077,
 13.333333333333334,
 8.571428571428571,
 7.6,
 16.25,
 11.428571428571429,
 18.75,
 26.666666666666668,
 12.727272727272727,
 8.674698795180722,
 11.666666666666666,
 14.0,
 8.333333333333334,
 6.8,
 17.142857142857142,
 10.0,
 17.272727272727273,
 13.636363636363637,
 10.0,
 18.181818181818183,
 13.076923076923077,
 19.047619047619047,
 6.25,
 8.461538461538462,
 12.727272727272727,
 14.0,
 14.444444444444445,
 11.764705882352942,
 17.333333333333332,
 13.0,
 14.0,
 15.873015873015873,
 15.0,
 33.333333333333336,
 10.0,
 11.428571428571429,
 11.904761904761905,
 12.5,
 41.666666666666664,
 8.88888888888889,
 24.705882352941178,
 14.285714285714286,
 15.0,
 5.0,
 7.099391480730223,
 26.31578947368421,
 11.538461538461538,
 7.75,
 12.375,
 8.235294117647058,
 15.527950310559007,
 8.125,
 26.666666666666668,
 11.428571428571429,
 12.539184952978056,
 7.647058823529412,
 11.11111111111111,
 25.0,
 14.285714285714286,
 8.75,
 18.75,
 18.75,
 14.285714285714286,
 18.333333333333332,
 11.333333333333334,
 29.166666666666668,
 15.555555555555555,
 5.944055944055944,
 13.333333333333334,
 43.75,
 15.0,
 12.307692307692308,
 11.11111111111111,
 10.0,
 12.5,
 12.857142857142858,
 16.666666666666668,
 6.666666666666667,
 26.923076923076923,
 13.75,
 26.515151515151516,
 11.0,
 14.285714285714286,
 8.125,
 6.666666666666667,
 21.25,
 11.333333333333334,
 10.0,
 9.090909090909092,
 10.0,
 8.125,
 9.473684210526315,
 30.0,
 25.0,
 24.0,
 21.818181818181817,
 15.0,
 9.0,
 12.5,
 20.0,
 12.222222222222221,
 12.222222222222221,
 7.7272727272727275,
 11.11111111111111,
 20.90909090909091,
 8.461538461538462,
 10.897435897435898,
 20.0,
 6.875,
 14.0,
 12.5,
 11.11111111111111,
 11.818181818181818,
 13.333333333333334,
 27.5,
 12.0,
 12.222222222222221,
 9.523809523809524,
 10.0,
 8.333333333333334,
 10.909090909090908,
 23.636363636363637,
 11.428571428571429,
 27.272727272727273,
 6.4325,
 12.631578947368421,
 5.833333333333333,
 12.142857142857142,
 14.0,
 16.666666666666668,
 12.307692307692308,
 12.5,
 23.4375,
 10.0,
 283.3333333333333,
 14.736842105263158,
 15.833333333333334,
 9.333333333333334,
 16.666666666666668,
 16.25,
 12.5,
 9.285714285714286,
 11.176470588235293,
 3.6,
 11.538461538461538,
 12.5,
 18.072289156626507,
 11.666666666666666,
 7.5,
 11.666666666666666,
 22.0,
 24.0,
 12.5,
 5.0,
 13.333333333333334,
 6.666666666666667,
 16.666666666666668,
 12.5,
 15.555555555555555,
 8.333333333333334,
 12.0,
 20.0,
 17.391304347826086,
 15.09433962264151,
 20.0,
 28.571428571428573,
 15.0,
 12.0,
 25.0,
 20.0,
 11.764705882352942,
 18.817204301075268,
 7.5,
 13.333333333333334,
 8.75,
 24.666666666666668,
 25.0,
 25.0,
 3.142857142857143,
 18.857142857142858,
 11.11111111111111,
 35.294117647058826,
 14.117647058823529,
 7.777777777777778,
 12.5,
 18.333333333333332,
 13.869625520110956,
 19.130434782608695,
 29.41176470588235,
 11.11111111111111,
 34.09090909090909,
 20.0,
 16.666666666666668,
 13.297872340425531,
 21.176470588235293,
 23.80952380952381,
 78.125,
 93.33333333333333,
 100.0,
 68.18181818181819,
 21.875,
 92.3076923076923,
 200.0,
 187.5,
 47.82608695652174,
 78.78787878787878,
 68.75,
 64.0,
 61.224489795918366,
 79.03225806451613,
 54.054054054054056,
 47.857142857142854,
 109.3951093951094,
 53.84615384615385,
 150.0,
 173.3102253032929,
 49.411764705882355,
 168.53932584269663,
 81.48148148148148,
 117.6470588235294,
 67.56756756756756,
 12.307692307692308,
 72.72727272727273,
 28.571428571428573,
 66.66666666666667,
 33.0188679245283,
 48.5275,
 51.111111111111114,
 91.39009139009138,
 54.60750853242321,
 111.47540983606558,
 61.47540983606557,
 91.66666666666667,
 60.94182825484764,
 44.44444444444444,
 50.0,
 58.8235294117647,
 37.391304347826086,
 53.01204819277108,
 136.36363636363637,
 68.08510638297872,
 39.02439024390244,
 91.54929577464789,
 60.0,
 71.25,
 62.06896551724138,
 114.0,
 68.75,
 74.07407407407408,
 90.47619047619048,
 121.42857142857143,
 187.5,
 133.33333333333334,
 43.333333333333336,
 50.90909090909091,
 95.49356223175965,
 62.22222222222222,
 21.666666666666668,
 56.60377358490566,
 67.85714285714286,
 71.11111111111111,
 116.66666666666667,
 66.66666666666667,
 107.14285714285714,
 71.42857142857143,
 121.42857142857143,
 93.75,
 210.0,
 65.21739130434783,
 62.583222370173104,
 24.56140350877193,
 79.02298850574712,
 75.0,
 120.0,
 60.869565217391305,
 100.0,
 65.26315789473684,
 56.0,
 181.8181818181818,
 127.15033657442035,
 27.137042062415198,
 54.666666666666664,
 85.52631578947368,
 66.66666666666667,
 130.76923076923077,
 50.0,
 52.63157894736842,
 133.33333333333334,
 78.94736842105263,
 73.33333333333333,
 73.47826086956522,
 72.72727272727273,
 50.0,
 55.55555555555556,
 93.15068493150685,
 110.0,
 62.5,
 112.78195488721805,
 100.0,
 90.0,
 57.142857142857146,
 55.55555555555556,
 58.46153846153846,
 119.23076923076923,
 73.52941176470588,
 68.42105263157895,
 117.77902411665733,
 112.78195488721805,
 56.63716814159292,
 57.77777777777778,
 84.50704225352112,
 125.49537648612946,
 92.5925925925926,
 50.0,
 76.40449438202248,
 120.0,
 60.0,
 76.38888888888889,
 78.78787878787878,
 160.0,
 70.66666666666667,
 106.66666666666667,
 50.0,
 161.81229773462783,
 43.75,
 57.333333333333336,
 31.25,
 23.076923076923077,
 107.9136690647482,
 48.0,
 146.11872146118722,
 67.36842105263158,
 69.62025316455696,
 71.10438729198185,
 50.0,
 35.714285714285715,
 66.66666666666667,
 26.842105263157894,
 186.17021276595744,
 40.74074074074074,
 75.75757575757575,
 66.66666666666667,
 70.27027027027027,
 43.47826086956522,
 58.8235294117647,
 152.38095238095238,
 60.97560975609756,
 69.56521739130434,
 35.0,
 35.08771929824562,
 76.38888888888889,
 64.0,
 102.73972602739725,
 72.28915662650603,
 107.14285714285714,
 100.0,
 80.34188034188034,
 85.47008547008546,
 49.09090909090909,
 123.07692307692308,
 83.33333333333333,
 75.00333333333333,
 68.57142857142857,
 46.753246753246756,
 15.0,
 58.8235294117647,
 61.111111111111114,
 65.0,
 28.333333333333332,
 53.333333333333336,
 68.47133757961784,
 105.26315789473684,
 131.57894736842104,
 100.0,
 181.8181818181818,
 33.333333333333336,
 61.53846153846154,
 47.337278106508876,
 120.10443864229765,
 22.22222222222222,
 74.34944237918215,
 31.818181818181817,
 187.5,
 8.227848101265822,
 39.473684210526315,
 58.46153846153846,
 43.75,
 38.55421686746988,
 39.02439024390244,
 77.10280373831776,
 15.454545454545455,
 95.23809523809524,
 36.36363636363637,
 84.44444444444444,
 133.33333333333334,
 81.25,
 76.19047619047619,
 100.0,
 240.0,
 75.0,
 97.74436090225564,
 57.89473684210526,
 52.87356321839081,
 73.07692307692308,
 61.53846153846154,
 116.12903225806451,
 65.78947368421052,
 96.28610729023384,
 63.95348837209303,
 67.6470588235294,
 50.80831408775982,
 77.6056338028169,
 92.85714285714286,
 60.0,
 118.51851851851852,
 94.28571428571429,
 51.02040816326531,
 244.89795918367346,
 77.76049766718506,
 77.6470588235294,
 63.63636363636363,
 106.20915032679738,
 84.21052631578948,
 23.529411764705884,
 92.5,
 80.28169014084507,
 130.76923076923077,
 69.28175519630484,
 64.61538461538461,
 200.0,
 40.0,
 41.1764705882353,
 45.90163934426229,
 91.83673469387755,
 52.17391304347826,
 84.25196850393701,
 72.72727272727273,
 30.0,
 116.66666666666667,
 126.66666666666667,
 118.18181818181819,
 64.28571428571429,
 95.65217391304348,
 87.0195794053662,
 120.0,
 85.71428571428571,
 102.56410256410257,
 53.475935828877006,
 67.28971962616822,
 120.0,
 62.16216216216216,
 71.42857142857143,
 140.74074074074073,
 39.354838709677416,
 63.63636363636363,
 44.21052631578947,
 67.5,
 85.71428571428571,
 100.0,
 83.33333333333333,
 165.56291390728478,
 147.82608695652175,
 112.5,
 78.57142857142857,
 187.5,
 54.54545454545455,
 84.44444444444444,
 142.85714285714286,
 82.22222222222223,
 75.5939524838013,
 105.26315789473684,
 100.0,
 70.0,
 77.77777777777777,
 64.28571428571429,
 84.50704225352112,
 37.735849056603776,
 52.63157894736842,
 70.0,
 21.54696132596685,
 60.0,
 131.86813186813185,
 64.70588235294117,
 36.36363636363637,
 93.02325581395348,
 55.38461538461539,
 56.60377358490566,
 125.0,
 60.0,
 100.0,
 69.56521739130434,
 76.92307692307692,
 55.0,
 41.666666666666664,
 51.829268292682926,
 58.125,
 73.68315789473684,
 66.75938803894297,
 50.0,
 326.37075718015666,
 61.53846153846154,
 89.65517241379311,
 104.16666666666667,
 34.32835820895522,
 148.14814814814815,
 59.45945945945946,
 55.172413793103445,
 141.93548387096774,
 95.23809523809524,
 53.84615384615385,
 47.14714285714286,
 132.35294117647058,
 69.5187165775401,
 45.91836734693877,
 100.0,
 78.57142857142857,
 77.77777777777777,
 73.33333333333333,
 40.0,
 150.0,
 100.0,
 121.06537530266344,
 102.56410256410257,
 102.70270270270271,
 8.98876404494382,
 62.5,
 75.45454545454545,
 76.19047619047619,
 61.904761904761905,
 87.97653958944281,
 146.15384615384616,
 118.08118081180812,
 55.55555555555556,
 66.66666666666667,
 115.15151515151516,
 54.54545454545455,
 43.02325581395349,
 56.25,
 68.18181818181819,
 102.73972602739725,
 80.0,
 170.0,
 63.38028169014085,
 148.14814814814815,
 50.0,
 85.0,
 86.66666666666667,
 80.0,
 125.0,
 66.66666666666667,
 61.53846153846154,
 71.64179104477611,
 24.59016393442623,
 70.0,
 73.52941176470588,
 72.1868365180467,
 136.36363636363637,
 71.42857142857143,
 70.0,
 80.0,
 17.0,
 150.5235602094241,
 53.84615384615385,
 17.0,
 94.11764705882354,
 100.0,
 58.13953488372093,
 38.83495145631068,
 62.0,
 90.0,
 102.85714285714286,
 51.776649746192895,
 57.142857142857146,
 51.42857142857143,
 150.0,
 75.0,
 14.545454545454545,
 62.03473945409429,
 71.42857142857143,
 35.1063829787234,
 9.473684210526315,
 58.319039451114925,
 67.36842105263158,
 55.55555555555556,
 48.0,
 76.92307692307692,
 250.0,
 32.30769230769231,
 49.09090909090909,
 25.641025641025642,
 90.54325955734406,
 15.384615384615385,
 130.43478260869566,
 83.63636363636364,
 31.914893617021278,
 104.0,
 56.36363636363637,
 90.625,
 82.66666666666667,
 165.01650165016503,
 107.04419889502762,
 50.0,
 102.23048327137546,
 25.0,
 115.38461538461539,
 110.0,
 100.0,
 92.85714285714286,
 142.85714285714286,
 80.0,
 98.96907216494846,
 44.44444444444444,
 66.94560669456067,
 26.666666666666668,
 58.064516129032256,
 78.57142857142857,
 14.285714285714286,
 21.306818181818183,
 56.33802816901409,
 53.333333333333336,
 28.205128205128204,
 52.980132450331126,
 64.28571428571429,
 180.0,
 80.0,
 55.38461538461539,
 125.53191489361703,
 88.88888888888889,
 64.0,
 102.85714285714286,
 66.66666666666667,
 26.666666666666668,
 45.45454545454545,
 64.86486486486487,
 68.42105263157895,
 40.0,
 41.53846153846154,
 69.33333333333333,
 105.55555555555556,
 84.472049689441,
 64.6900269541779,
 58.18181818181818,
 56.375838926174495,
 75.0,
 40.71146245059288,
 72.22222222222223,
 76.92307692307692,
 94.2350332594235,
 79.48094079480941,
 133.33333333333334,
 108.33333333333333,
 46.0,
 66.66666666666667,
 47.36842105263158,
 58.8235294117647,
 58.75,
 117.9245283018868,
 81.48148148148148,
 93.75,
 51.16279069767442,
 77.43933918430562,
 107.14285714285714,
 52.56410256410256,
 115.38461538461539,
 111.11111111111111,
 70.66666666666667,
 100.0,
 100.0,
 76.47058823529412,
 96.0,
 83.33333333333333,
 52.0,
 ...]

In [19]:
len(rent_per_sq_ft)

4746

In [20]:
data['Rent per Square Feet'] = rent_per_sq_ft

In [21]:
data['Rent per Square Feet']

0        9.090909
1       25.000000
2       17.000000
3       12.500000
4        8.823529
          ...
4741    15.000000
4742    14.500000
4743    20.000000
4744    30.000000
4745    15.000000
Name: Rent per Square Feet, Length: 4746, dtype: float64

In [22]:
data.head(20)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent per Square Feet
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,9.090909
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,25.000000
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,17.000000
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,12.500000
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner,8.823529
5,2022-04-29,2,7000,600,Ground out of 1,Super Area,Thakurpukur,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,11.666667
6,2022-06-21,2,10000,700,Ground out of 4,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,2,Contact Agent,14.285714
7,2022-06-21,1,5000,250,1 out of 2,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,1,Contact Agent,20.000000
8,2022-06-07,2,26000,800,1 out of 2,Carpet Area,"Palm Avenue Kolkata, Ballygunge",Kolkata,Unfurnished,Bachelors,2,Contact Agent,32.500000
9,2022-06-20,2,10000,1000,1 out of 3,Carpet Area,Natunhat,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Owner,10.000000
10,2022-05-23,3,25000,1200,1 out of 4,Carpet Area,"Action Area 1, Rajarhat Newtown",Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Agent,20.833333
11,2022-06-07,1,5000,400,1 out of 1,Carpet Area,Keshtopur,Kolkata,Unfurnished,Bachelors/Family,1,Contact Agent,12.500000
12,2022-05-14,1,6500,250,1 out of 4,Carpet Area,"Tarulia, Keshtopur",Kolkata,Furnished,Bachelors,1,Contact Owner,26.000000
13,2022-05-09,1,5500,375,1 out of 2,Carpet Area,Dum Dum Metro,Kolkata,Unfurnished,Bachelors/Family,1,Contact Agent,14.666667
14,2022-05-05,3,8500,900,Ground out of 2,Carpet Area,Paschim Barisha,Kolkata,Unfurnished,Bachelors,2,Contact Owner,9.444444
15,2022-06-01,3,40000,1286,1 out of 1,Carpet Area,New Town Action Area 1,Kolkata,Furnished,Bachelors/Family,2,Contact Owner,31.104199
16,2022-05-17,2,6000,600,1 out of 2,Super Area,Barasat,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,10.000000
17,2022-06-20,2,10000,800,Ground out of 2,Super Area,Behala,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,12.500000
18,2022-06-09,2,11000,2000,Ground out of 3,Carpet Area,Behala Chowrasta,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,5.500000
19,2022-06-09,2,6000,660,1 out of 2,Super Area,Behala,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,9.090909

In [23]:
data.sort_values('Rent')

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent per Square Feet
4076,2022-05-31,3,1200,2100,1 out of 3,Carpet Area,"Uppal, NH 2 2",Hyderabad,Furnished,Bachelors/Family,3,Contact Owner,0.571429
285,2022-05-24,1,1500,200,Ground out of 2,Super Area,Santoshpur,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,7.500000
471,2022-05-12,1,1800,500,Ground out of 1,Super Area,Shyam Bazar,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,3.600000
2475,2022-06-22,2,2000,60,1 out of 1,Super Area,Ram Nagar,Delhi,Unfurnished,Bachelors/Family,1,Contact Owner,33.333333
146,2022-06-05,2,2200,550,2 out of 3,Super Area,Behala silpara,Kolkata,Furnished,Bachelors/Family,1,Contact Owner,4.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1459,2022-06-27,4,700000,3200,24 out of 24,Carpet Area,"Lady Ratan Tower, Worli",Mumbai,Furnished,Bachelors/Family,4,Contact Agent,218.750000
1329,2022-06-23,4,850000,3200,2 out of 4,Carpet Area,Breach Candy,Mumbai,Furnished,Bachelors/Family,4,Contact Agent,265.625000
827,2022-05-18,4,1000000,3064,18 out of 45,Carpet Area,"Raheja Artesia, Worli",Mumbai,Semi-Furnished,Family,4,Contact Agent,326.370757
1001,2022-06-01,4,1200000,5000,4 out of 15,Carpet Area,Juhu,Mumbai,Semi-Furnished,Bachelors/Family,4,Contact Agent,240.000000
1837,2022-06-08,3,3500000,2500,4 out of 4,Carpet Area,Marathahalli,Bangalore,Semi-Furnished,Bachelors,3,Contact Agent,1400.000000

In [24]:
data.sort_values('Rent',ascending=False)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent per Square Feet
1837,2022-06-08,3,3500000,2500,4 out of 4,Carpet Area,Marathahalli,Bangalore,Semi-Furnished,Bachelors,3,Contact Agent,1400.000000
1001,2022-06-01,4,1200000,5000,4 out of 15,Carpet Area,Juhu,Mumbai,Semi-Furnished,Bachelors/Family,4,Contact Agent,240.000000
827,2022-05-18,4,1000000,3064,18 out of 45,Carpet Area,"Raheja Artesia, Worli",Mumbai,Semi-Furnished,Family,4,Contact Agent,326.370757
1329,2022-06-23,4,850000,3200,2 out of 4,Carpet Area,Breach Candy,Mumbai,Furnished,Bachelors/Family,4,Contact Agent,265.625000
1459,2022-06-27,4,700000,3200,24 out of 24,Carpet Area,"Lady Ratan Tower, Worli",Mumbai,Furnished,Bachelors/Family,4,Contact Agent,218.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,2022-06-05,2,2200,550,2 out of 3,Super Area,Behala silpara,Kolkata,Furnished,Bachelors/Family,1,Contact Owner,4.000000
2475,2022-06-22,2,2000,60,1 out of 1,Super Area,Ram Nagar,Delhi,Unfurnished,Bachelors/Family,1,Contact Owner,33.333333
471,2022-05-12,1,1800,500,Ground out of 1,Super Area,Shyam Bazar,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,3.600000
285,2022-05-24,1,1500,200,Ground out of 2,Super Area,Santoshpur,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,7.500000
4076,2022-05-31,3,1200,2100,1 out of 3,Carpet Area,"Uppal, NH 2 2",Hyderabad,Furnished,Bachelors/Family,3,Contact Owner,0.571429

In [25]:
data.head(100)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent per Square Feet
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,9.090909
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,25.000000
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,17.000000
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,12.500000
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner,8.823529
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2022-05-23,1,5000,300,1 out of 2,Carpet Area,Dum Dum Metro,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,16.666667
96,2022-06-28,2,12000,1200,1 out of 3,Super Area,Boral,Kolkata,Furnished,Bachelors/Family,2,Contact Owner,10.000000
97,2022-06-23,2,10000,500,3 out of 4,Carpet Area,"Rabindra Pally, Keshtopur",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,20.000000
98,2022-04-29,4,18000,1200,1 out of 2,Super Area,Bagbazar,Kolkata,Unfurnished,Family,2,Contact Owner,15.000000
99,2022-06-13,2,15000,900,1 out of 2,Carpet Area,Salt Lake City Sector 1,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Agent,16.666667

In [26]:
data.sort_values('Rent',ascending=False).head(100)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent per Square Feet
1837,2022-06-08,3,3500000,2500,4 out of 4,Carpet Area,Marathahalli,Bangalore,Semi-Furnished,Bachelors,3,Contact Agent,1400.000000
1001,2022-06-01,4,1200000,5000,4 out of 15,Carpet Area,Juhu,Mumbai,Semi-Furnished,Bachelors/Family,4,Contact Agent,240.000000
827,2022-05-18,4,1000000,3064,18 out of 45,Carpet Area,"Raheja Artesia, Worli",Mumbai,Semi-Furnished,Family,4,Contact Agent,326.370757
1329,2022-06-23,4,850000,3200,2 out of 4,Carpet Area,Breach Candy,Mumbai,Furnished,Bachelors/Family,4,Contact Agent,265.625000
1459,2022-06-27,4,700000,3200,24 out of 24,Carpet Area,"Lady Ratan Tower, Worli",Mumbai,Furnished,Bachelors/Family,4,Contact Agent,218.750000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1391,2022-07-09,4,210000,2000,27 out of 27,Carpet Area,Vikhroli,Mumbai,Unfurnished,Bachelors,5,Contact Agent,105.000000
595,2022-06-24,2,210000,1000,4 out of 8,Carpet Area,Bandra West,Mumbai,Unfurnished,Bachelors,2,Contact Agent,210.000000
634,2022-05-18,4,210000,1783,5 out of 20,Carpet Area,GREEN PARK,Mumbai,Semi-Furnished,Bachelors/Family,3,Contact Owner,117.779024
1388,2022-06-16,3,210000,1425,9 out of 35,Carpet Area,"The Primordial House, Kemps Corner",Mumbai,Furnished,Bachelors,4,Contact Agent,147.368421
2990,2022-07-10,3,200000,3000,1 out of 1,Super Area,Madras Boat Club Road,Chennai,Furnished,Family,4,Contact Agent,66.666667

In [27]:
data.head(10)

,Posted On,BHK,Rent,Size,Floor,Area Type,Area Locality,City,Furnishing Status,Tenant Preferred,Bathroom,Point of Contact,Rent per Square Feet
0,2022-05-18,2,10000,1100,Ground out of 2,Super Area,Bandel,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,9.090909
1,2022-05-13,2,20000,800,1 out of 3,Super Area,"Phool Bagan, Kankurgachi",Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,25.000000
2,2022-05-16,2,17000,1000,1 out of 3,Super Area,Salt Lake City Sector 2,Kolkata,Semi-Furnished,Bachelors/Family,1,Contact Owner,17.000000
3,2022-07-04,2,10000,800,1 out of 2,Super Area,Dumdum Park,Kolkata,Unfurnished,Bachelors/Family,1,Contact Owner,12.500000
4,2022-05-09,2,7500,850,1 out of 2,Carpet Area,South Dum Dum,Kolkata,Unfurnished,Bachelors,1,Contact Owner,8.823529
5,2022-04-29,2,7000,600,Ground out of 1,Super Area,Thakurpukur,Kolkata,Unfurnished,Bachelors/Family,2,Contact Owner,11.666667
6,2022-06-21,2,10000,700,Ground out of 4,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,2,Contact Agent,14.285714
7,2022-06-21,1,5000,250,1 out of 2,Super Area,Malancha,Kolkata,Unfurnished,Bachelors,1,Contact Agent,20.000000
8,2022-06-07,2,26000,800,1 out of 2,Carpet Area,"Palm Avenue Kolkata, Ballygunge",Kolkata,Unfurnished,Bachelors,2,Contact Agent,32.500000
9,2022-06-20,2,10000,1000,1 out of 3,Carpet Area,Natunhat,Kolkata,Semi-Furnished,Bachelors/Family,2,Contact Owner,10.000000

In [28]:
data['City'].value_counts()

Mumbai       972
Chennai      891
Bangalore    886
Hyderabad    868
Delhi        605
Kolkata      524
Name: City, dtype: int64